.grid{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(calc((1280px - 25px * 2 ) / 3), max-content));
  gap: 25px;
}

@media (max-width: 950px) {
  .grid{
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% - 20px * 2) / 2), max-content)
    );
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% - 10px * 2) / 2), max-content)
    );
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(100% - 25px * 2), max-content)
    );
  }
}