.pagination-element{
  /* расширить поле клика */
  padding: 2px; 

  border: none;
  
  background-color: transparent;
  transition: opacity .1s linear;

  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.pagination-element:hover {
  opacity: 0.7;
}
