.search-btn {

  min-width: 65px;
  height: 65px;
  padding: 0;
  
  border: 3px solid #000;
  border-radius: 5px;
  
  background-color: #fff;
  transition: opacity .1s linear;

  background-image: url(../../images/loupe.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.search-btn:hover {
  opacity: 0.7;
}
